<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moira.pennibackend.domain.entry.mapper.EntryMapper">
    <!-- 가계부 항목 저장 -->
    <insert id="insertEntry" parameterType="com.moira.pennibackend.global.entity.AccountBookEntry">
        INSERT INTO ACCOUNT_BOOK_ENTRY (
               id
             , user_id
             , group_id
             , category_id
             , content
             , description
             , price
             , date
             , type
             , method
             , created_at
        )
        VALUES (
               #{id}
             , #{userId}
             , #{groupId}
             , #{categoryId}
             , #{content}
             , #{description}
             , #{price}
             , #{date}
             , #{type}
             , #{method}
             , CURRENT_TIMESTAMP
        )
    </insert>

</mapper>