<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moira.pennibackend.domain.fixed.mapper.FixedExpenseMapper">
    <insert id="insertAccountBookFixedExpense" parameterType="com.moira.pennibackend.global.entity.AccountBookFixedExpense">
        INSERT INTO "ACCOUNT_BOOK_FIXED_EXPENSE"(
               id
             , group_id
             , user_id
             , content
             , description
             , cycle
             , monthly_day
             , annual_month
             , annual_day
             , price
             , created_at
             , updated_at
        )
        VALUES (
               #{id}
             , #{groupId}
             , #{userId}
             , #{content}
             , #{description}
             , #{cycle}
             , #{monthlyDay}
             , #{annualMonth}
             , #{annualDay}
             , #{price}
             , #{createdAt}
             , #{updatedAt}
        )
    </insert>
</mapper>