<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moira.pennibackend.domain.group.mapper.GroupMapper">
    <!-- 그룹 가입 여부 조회 -->
    <select id="selectGroupId" resultType="java.lang.String">
        SELECT group_id
        FROM   ACCOUNT_BOOK_GROUP_USER
        WHERE  user_id = #{userId} AND left_at IS NULL
    </select>

    <!-- 그룹 생성 및 가입 -->
    <insert id="insertAccountBookGroup" parameterType="com.moira.pennibackend.global.entity.AccountBookGroup">
        INSERT INTO ACCOUNT_BOOK_GROUP (
               id
             , user_id
             , name
             , description
             , code
             , created_at
             , deleted_at
        )
        VALUES (
               #{id}
             , #{userId}
             , #{name}
             , #{description}
             , #{code}
             , #{createdAt}
             , #{deletedAt}
        )
    </insert>

    <insert id="insertAccountBookGroupUser" parameterType="com.moira.pennibackend.global.entity.AccountBookGroupUser">
        INSERT INTO ACCOUNT_BOOK_GROUP_USER (
               group_id
             , user_id
             , joined_at
             , left_at
        )
        VALUES (
               #{groupId}
             , #{userId}
             , #{joinedAt}
             , #{leftAt}
        )
    </insert>
</mapper>