<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moira.pennibackend.domain.login.mapper.LoginMapper">
    <!-- ========================================================================================================== -->
    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="com.moira.pennibackend.global.entity.User">
        INSERT INTO "USER" (
               id
             , email
             , name
             , nickname
             , phone
             , role
             , status
             , type
             , rtk
             , last_login_at
             , created_at
             , updated_at
        )
        VALUES (
               #{id}
             , #{email}
             , #{name}
             , #{nickname}
             , #{phone}
             , #{role}
             , #{status}
             , #{type}
             , null
             , null
             , NOW()
             , NOW()
        )
    </insert>

    <!-- ========================================================================================================== -->
    <!-- 이메일로 유저 조회 -->
    <select id="selectUserByEmail" resultType="com.moira.pennibackend.global.entity.User">
        SELECT
               id
             , role
             , status
             , type
             , email
             , name
             , nickname
             , phone
             , rtk
             , last_login_at
             , created_at
             , updated_at
        FROM "USER"
        WHERE email = #{email}
    </select>

    <!-- ========================================================================================================== -->
    <!-- 로그인 시 유저 정보 수정 -->
    <update id="updateUserWhenLogin">
        UPDATE "USER"
        SET    rtk           = #{rtk}
             , last_login_at = NOW()
             , updated_at    = NOW()
        WHERE id = #{id}
    </update>

    <!-- ========================================================================================================== -->
    <!-- 로그인 이력 저장 -->
    <insert id="insertUserLoginHistory" parameterType="com.moira.pennibackend.global.entity.UserLoginHistory">
        INSERT INTO "USER_LOGIN_HISTORY" (
               id
             , user_id
             , ip_address
             , login_type
             , login_at
             , logout_at
        )
        VALUES (
              #{id}
             , #{userId}
             , #{ipAddress}
             , #{loginType}
             , NOW()
             , null
        )
    </insert>
</mapper>